{% extends 'base.html' %}
{% load static %}

{% block content %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Convocatoria Existente</title>
</head>
<body>
    <div class="container">
        <h1>Convocatoria Existente</h1>
        <p>Ya existe una convocatoria para este partido.</p>
        <p>Por favor, revisa las convocatorias existentes o crea una nueva para otro partido.</p>       
    </div>
</body>
</html>
{% endblock %}
