# Ignorar migraciones de Django
*/migrations/*

# Ignorar la base de datos SQLite (si usas SQLite)
db.sqlite3

# Ignorar archivos de base de datos adicionales
*.sqlite3

#Ignorar archivos caché:
__pycache__/
*.pyc

#Ignorar .env
.env
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
