{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="text-center mb-4">
                <img src="{% static 'img.png' %}" alt="Logo del Equipo" class="img-fluid" style="height: 100px; width: auto;">
            </div>
            <div class="table-container">
                <div class="card-body">
                    <h4 class="card-title text-center">Iniciar sesión</h4>
                    <form method="post" novalidate>
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">Iniciar sesión</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
