{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
    .styled-table {
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
        padding: 30px;
        margin: 20px auto;
        width: 90%;
        max-width: 1000px;
        overflow: auto;
    }

    .styled-table th,
    .styled-table td {
        padding: 12px;
        text-align: left;
        border: 1px solid #ddd;
    }

    .styled-table td {
        vertical-align: top;
        /* Alinea el texto en la parte superior */
    }
</style>

<div class="styled-table">
    <div class="text-center">
        <h2>Equipo Local: {{ match.local }}</h2>
        <h2>Equipo Visitante: {{ match.visiting }}</h2>
        <h2>Fecha: {{ match.start_date }}</h2>
    </div>

    {% if messages %}
    <div class="alert">
        {% for message in messages %}
        <p class="{{ message.tags }}">{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}

    <table>
        <thead>
            <tr>
                <th>Jugadores Revés</th>
                <th>Jugadores Derecha</th>
                <th>Jugadores Mixtos</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <ul>
                        {% if not backhand_players %}
                        <p>Aún no se han incluido jugadores de revés</p>
                        {% else %}
                        {% for p in backhand_players %}
                        <p>{{ p.name }}</p>
                        {% endfor %}
                        {% endif %}
                    </ul>
                </td>
                <td>
                    <ul>
                        {% if not forehand_players %}
                        <p>Aún no se han incluido jugadores de derecha</p>
                        {% else %}
                        {% for p in forehand_players %}
                        <p>{{ p.name }}</p>
                        {% endfor %}
                        {% endif %}
                    </ul>
                </td>
                <td>
                    <ul>
                        {% if not mixed_players %}
                        <p>Aún no se han incluido jugadores de revés/derecha</p>
                        {% else %}
                        {% for p in mixed_players %}
                        <p>{{ p.name }}</p>
                        {% endfor %}
                        {% endif %}
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>

    <div style="padding-top: 10px;">
        {% if not call_for_match %}
        <a href="{% url 'create_call' match_id %}" class="button">Crear Convocatoria</a>
        {% endif %}

        {% if call_for_match %}
        {% if call_for_match.draft_mode %}
        <a href="{% url 'edit_call' call_for_match.id %}" class="button">Editar Convocatoria</a>
        <form action="{% url 'close_call' match.id %}" method="post" style="display:inline;">
            {% csrf_token %}
            <button type="submit" class="button">Cerrar Convocatoria</button>
        </form>
        {% else %}
        <form action="{% url 'delete_call' match.id %}" method="post" style="display:inline;">
            {% csrf_token %}
            <button type="submit" class="button">Eliminar Convocatoria</button>
        </form>
        {% endif %}
        {% endif %}
    </div>

    <h1>Partidos</h1>
    <p></p>
    {% if game_for_match %}
    {% for g in game_for_match %}
    <table style="margin-bottom: 20px; width: 100%; border-collapse: collapse;">
        <tr>
            <th style="background-color: rgb(8, 60, 100); text-align: left; width: 70%;">
                {% if g.results.first == None %}
                <a href="{% url 'create_result' g.id %}" style="color: white;"><i class="fa-solid fa-plus"></i></a>
                {% endif %}
                Resultado Partido {{ g.n_game }}
            </th>
            <th style="background-color: rgb(8, 60, 100); width: 10%; text-align: center;">1</th>
            <th style="background-color: rgb(8, 60, 100); width: 10%; text-align: center;">2</th>
            <th style="background-color: rgb(8, 60, 100); width: 10%; text-align: center;">3</th>
        </tr>
    
        <tr>
            <th style="text-align: left;">
                {% if g.winner == "Local" %} V {{ match.local }} - {% else %} D {{ match.local }} - {% endif %}
                {% if g.player_1_local and g.player_2_local %} {{ g.player_1_local }}/{{ g.player_2_local }} {% endif %}
            </th>
            <td style="text-align: center;">{{ g.results.first.set1_local }}</td>
            <td style="text-align: center;">{{ g.results.first.set2_local }}</td>
            <td style="text-align: center;">{{ g.results.first.set3_local }}</td>
        </tr>
        
        <tr>
            <th style="text-align: left;">
                {% if g.winner == "Visitante" %} V {{ match.visiting }} - {% else %} D {{ match.visiting }} - {% endif %}
                {% if g.player_1_visiting and g.player_2_visiting %} {{ g.player_1_visiting }}/{{ g.player_2_visiting }} {% endif %}
            </th>
            <td style="text-align: center;">{{ g.results.first.set1_visiting }}</td>
            <td style="text-align: center;">{{ g.results.first.set2_visiting }}</td>
            <td style="text-align: center;">{{ g.results.first.set3_visiting }}</td>
        </tr>
    </table>
{% endfor %}

    {% else %}
    <p>No hay partidos disponibles para este enfrentamiento. Debe confirmar la convocatoria.</p>
    {% endif %}

    {% if game_for_match.count == 5 and match.draft_mode %}
    <div class="text-center mt-4">
        <form method="POST" action="{% url 'close_match' match.id %}">
            {% csrf_token %}
            <button type="submit" class="button">Cerrar Acta del Partido</button>
        </form>
    </div>
    {% endif %}


    {% if not game_for_match and not call_for_match.draft_mode %}
    <div class="text-center">
        <a href="{% url 'create_game' match_id %}" class="button">Crear Partidos</a>
    </div>
    {% endif %}
</div>
{% endblock %}