{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>Crear Partido</h1>

<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Crear Partido</button>
</form>

<a href="{% url 'home' %}">Volver a la página principal</a>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>  <!-- Usa la versión completa -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"></script>

<script>
    $(function () {
        // Utilizamos el ID del campo de fecha para inicializar el datepicker
        $("#{{ form.start_date.id_for_label }}").datepicker({
            format: 'yyyy-mm-dd', // Formato para coincidir con DateField
            autoclose: true
        });
    });
</script>

<style>
    form {
        max-width: 500px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    label {
        display: block;
        margin-bottom: 5px;
    }

    input[type="text"],
    input[type="date"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 3px;
    }

    button {
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 3px;
        cursor: pointer;
    }

    button:hover {
        background-color: #0069d9;
    }
</style>

{% endblock %}
