{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="table-container mt-4">
    <div class="d-flex align-items-center mb-3">
        <h1 class="flex-grow-1">Listado de Partidos</h1>
        {% if user.is_authenticated %}
        <a href="{% url 'create_match' %}" class="button">Nuevo Partido</a>
        {% endif %}
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-hover table-bordered align-middle">
            <thead class="table-dark text-center">
                <tr>
                    <th>Local</th>
                    <th>Visitante</th>
                    <th>Fecha</th>
                    <th>Resultado</th>
                    <th>Convocatoria</th>
                </tr>
            </thead>
            <tbody>
                {% for m in match %}
                <tr class="text-center" >
                    <td>{{ m.local }}</td> 
                    <td>{{ m.visiting }}</td>
                    <td >{{ m.start_date|date:"d/m/Y" }}</td>
                    <td>{{ m.result_points|default:"-" }}</td>
                    <td>
                        <a href="{% url 'call_for_match' m.id %}"> <i class="fa-solid fa-eye"></i></a>
                    </td>
                </tr>
                {% empty %}
                <tr class="text-center" >
                    <td colspan="5">No hay partidos disponibles</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
