/* Ajustes globales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}


body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    height: 100%;
    /* Asegura que el HTML y el body ocupen toda la altura */
}

/* Contenido principal */
.main-content {
    flex: 1;
    /* Permite que el contenido principal ocupe el espacio disponible */
}

/* Estilo del header */
.header {
    background-color: rgb(8, 60, 100);
    color: white;
    padding: 10px 0;
    text-align: center;
}

/* Estilo del footer */
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    width: 100%;
    box-shadow: 0px -4px 2px -2px gray;
}

/* ESTILO PARA EL CONTENEDOR*/ 
.table-container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    padding: 30px;
    margin: 20px auto;
    width: 100%;
    max-width: 1200px;
    overflow: auto;
}

/* FORMATO TABLA*/
.styled-table {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    padding: 30px;
    margin: 20px auto;
    width: 90%;
    max-width: 1000px;
    overflow: auto;
}

.styled-table th {
    background-color: rgb(8, 60, 100);
    color: white;
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

.styled-table td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
    background-color: #ececec; /* Estilo para todos los <td> */
    vertical-align: top; /* Alinea el texto en la parte superior */
}

/* FORMATO PARA EL BOTÓN */
.button {
    background-color: #083C64;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* FORMATO PARA LOS FORMULARIOS */
input[type="text"],
select {
    width: 100%;
    /* Ancho completo */
    padding: 10px;
    /* Espaciado interno */
    border: 1px solid #ccc;
    /* Borde gris claro */
    border-radius: 4px;
    /* Bordes redondeados */
    box-sizing: border-box;
    /* Incluye padding y border en el ancho */
    transition: border-color 0.3s;
    /* Transición suave para el borde */
}
.form .button:hover {
    background-color: #065a96;
}

.set-row {
    display: flex;
    /* Crea una fila flexible */
    justify-content: left;
    margin-bottom: 20px;
    /* Espacio entre filas */
}

.set {
    display: flex;
    flex-direction: column;
    /* Apila los elementos verticalmente */
}

input[type="number"] {
    width: 60px;
    height: 30px;
    text-align: center;
    border: 1px solid #ccc;
    padding: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
}

/* FORMATO PARA LOS MENSAJES */
.alert-message {
    padding: 15px;
    margin: 20px 0;
    border-radius: 4px;
    background-color: #fff3cd;
    color: #856404;
}

.alert-log {
    padding: 15px;
    margin: 10px;
    border-radius: 4px;
    background-color: #fff3cd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #856404;
}

.warning {
    padding: 15px;
    margin: 20px 0;
    border-radius: 4px;
    background-color: #ff8c8c;
    color: #750000;
}

/* FORMATO PARA LOG*/
.log-container {
    background-color: #e6e6e6;
    color: #000000;
    font-family: monospace;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 90%;
    margin: auto;
    overflow-y: auto;
    max-height: 300px;
}

.log-container p {
    margin: 0;
    /* Eliminar margen superior e inferior */
}

/* RESULT CSS*/
.large-input {
    width: 100px;  /* Ajusta el ancho según sea necesario */
    height: 40px;  /* Ajusta la altura según sea necesario */
    font-size: 16px; /* Tamaño de la fuente */
    padding: 5px; /* Espaciado interno */
}

/* FORMATO PARA LAS ESTADÍSTICAS */
.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(50% - 20px);
    padding: 20px;
    min-width: 300px;
    text-align: center;
}
.container {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
  }
  
  .title {
    text-align: center;
    margin-bottom: 40px;
    color: #083C64;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  canvas {
    border-radius: 8px;
}

.card h2 {
    font-size: 18px;
    color: #083C64;
    margin-bottom: 15px;
}

/* Mensaje para cuando no hay datos */
.message {
    color: #777;
    font-size: 14px;
    margin-top: 15px;
}

/* Estilo de porcentaje */
.percentage {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #555;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.chart-container {
    animation: fadeIn 1s ease-in-out;
    position: relative;
    width: 100%;
    max-width: 600px;
    height: 400px;
    margin: auto;
}

#myPieChart, #myBarChart, #myVisitingBarChart, #myLineChart {
    width: 100% !important;
    height: 100% !important;
  }


  @media (max-width: 768px) {
    .card {
      flex: 1 1 100%;
    }
  }
  
  .card h2 {
    text-align: center;
    color: #083C64;
    font-size: 1.5em;
  }
  
  .chart-container {
    position: relative;
    width: 100%;
    max-width: 600px;
    height: 400px;
    margin: auto;
  }
  
  #myPieChart, #myBarChart, #myVisitingBarChart, #myLineChart {
    width: 100% !important;
    height: 100% !important;
  }
  
  .message {
    text-align: center;
    font-style: italic;
    color: #777;
  }
  
  .percentage {
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin-top: 10px;
    color: #083C64;
  }



/* Responsive Styles */
@media (max-width: 768px) {
    .card {
      flex: 1 1 100%;
    }
  }

  
  





