{% extends 'base.html' %}
{% load static %}

{% block content %}
<head>
    <title>Editar Jugador</title>
</head>
<body>
    <div class="table-container">
    <h1>Editar Jugador</h1>
    
    <form method="POST" action="{% url 'edit_player' player.id %}">
        {% csrf_token %}
        
        <div>
            <label for="name">Nombre:</label>
            <input type="text" id="name" name="name" value="{{ player.name }}" required>
        </div>
    
        <div>
            <label for="position">Posición:</label>
            <select id="position" name="position" required>
                {% for value, display in player.POSITIONS %}
                    <option value="{{ value }}" {% if player.position == value %}selected{% endif %}>{{ display }}</option>
                {% endfor %}
            </select>
        </div>
    
        <div>
            <label for="skillfull_hand">Mano hábil:</label>
            <select id="skillfull_hand" name="skillfull_hand" required>
                {% for value, display in player.HAND %}
                    <option value="{{ value }}" {% if player.skillfull_hand == value %}selected{% endif %}>{{ display }}</option>
                {% endfor %}
            </select>
        </div>
    
        <button type="submit"class = "button">Guardar</button>
    </form>
</div>
</body>
{% endblock %}
