{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
    /* Estilo general */
    .table-container {
        padding: 20px;
        background-color: #f8f9fa;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    /* Título y botón de nuevo jugador */
    .table-container h1 {
        font-size: 2rem;
        color: #343a40;
        margin: 0;
    }

    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
        transition: all 0.3s ease-in-out;
    }

    .btn-primary:hover {
        background-color: #0056b3;
        border-color: #0056b3;
    }

    /* Estilo de la tarjeta del jugador */
    .card-player {
        border: none;
        border-radius: 10px;
        overflow: hidden;
        transition: transform 0.3s, box-shadow 0.3s;
    }

    .card-player:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

    .card-player-body {
        background-color: #ffffff;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        height: 100%;
    }

    /* Contenedor de la imagen del jugador */
    .player-image {
        flex-shrink: 0;
        margin-right: 20px;
    }

    .card-player-title {
        font-size: 1.5rem;
        margin-bottom: 10px;
        padding-top: 0;
        color: #007bff;
    }

    .card-player-text {
        margin-bottom: 5px;
        color: #6c757d;
    }

    /* Estilo para los botones de editar y eliminar */
    .btn-warning {
        color: #fff;
        background-color: #ffc107;
        border-color: #ffc107;
        margin-right: 10px;
    }

    .btn-danger {
        color: #fff;
        background-color: #dc3545;
        border-color: #dc3545;
    }

    .btn-warning:hover {
        background-color: #e0a800;
        border-color: #d39e00;
    }

    .btn-danger:hover {
        background-color: #c82333;
        border-color: #bd2130;
    }

    /* Estilo de la imagen del jugador */
    .img-fluid {
        border-radius: 50%;
        border: 3px solid #dee2e6;
        width: 150px;
        height: 150px;
        object-fit: cover;
    }

    /* Estilos para el rendimiento del jugador */
    .performance-score {
        border-radius: 5px;
        padding: 10px;
        color: #fff;
        font-weight: bold;
        text-align: center;
        margin-top: 10px;
    }

    /* Colores según el puntaje */
    .score-red {
        background-color: #dc3545; /* Rojo */
    }
    .score-yellow {
        background-color: #ffc107; /* Amarillo */
    }
    .score-light-green {
        background-color: #28a745; /* Verde amarillado */
    }
    .score-dark-green {
        background-color: #155724; /* Verde oscuro */
    }

    /* Estilo de la paginación */
    .pagination .page-item .page-link {
        color: #007bff;
        border-radius: 5px;
        margin: 0 5px;
        transition: background-color 0.3s, color 0.3s;
    }

    .pagination .page-item .page-link:hover {
        background-color: #007bff;
        color: #fff;
    }

    .pagination .page-item.active .page-link {
        background-color: #007bff;
        color: #fff;
        border: none;
    }

    .pagination .page-item.disabled .page-link {
        color: #6c757d;
    }

    .filter-container {
    display: flex;
    align-items: center;
}

/* Botones del filtro */
.btn-group .btn {
    margin: 0 5px;
    transition: background-color 0.3s, color 0.3s;
}

.btn-group .btn:hover {
    background-color: #007bff;
    color: #fff;
}

.loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: rgba(249, 249, 249, 0.8) url("/static/tennis-ball-bouncing.gif");
    background-size: contain; /* Ajusta el GIF para que quepa dentro del contenedor sin deformarse */
    background-repeat: no-repeat;
    background-position: center;
    display: none; /* Inicialmente oculto */
}

/* Botón activo */
.btn-group .btn.active {
    background-color: #007bff;
    color: #fff;
    border: 1px solid #007bff;
}
    /* Responsividad */
    @media (max-width: 768px) {
        .card-player-body {
            flex-direction: column;
            text-align: center;
        }

        .player-image {
            margin-bottom: 15px;
        }
    }
</style>
<div class="loader" style="display: none;"> </div>
<div class="table-container">
    <h1 class="text-center mb-4">Listado de Jugadores</h1>
    
    <div class="d-flex flex-column flex-md-row align-items-center justify-content-between mt-2 mb-3">
        <div class="d-flex flex-column flex-md-row align-items-center gap-2" style="margin-bottom: 10px;">
            <span class="me-2">Ordenar por:</span>
            <div class="btn-group" role="group" aria-label="Filtrar por">
                <a href="?order_by=name" class="btn btn-outline-primary {% if order_by == 'name' %}active{% endif %}">Nombre</a>
                <a href="?order_by=-score" class="btn btn-outline-primary {% if order_by == '-score' %}active{% endif %}">Rendimiento</a>
                <a href="?order_by=-snp_score" class="btn btn-outline-primary {% if order_by == '-snp_score' %}active{% endif %}">Puntuación SNP</a>
            </div>
        </div>
    
        {% if user.is_authenticated %}
        <div class="d-flex flex-column flex-md-row align-items-center gap-2"style="margin-bottom: 10px;">
            <a href="{% url 'create_player' %}" class="btn btn-primary">Nuevo Jugador</a>
            <a href="{% url 'force_update_score' %}" class="btn btn-danger"onclick="return confirmAndShowLoading();">
                Forzar actualización de rendimiento</a>
            <a href="{% url 'update_score' %}" class="btn btn-warning" 
            onclick="return confirmAndShowLoading();">
            Actualizar puntuaciones
         </a>
        </div>
        {% endif %}
    </div>

    <div class="row">
        {% for player in players %}
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card-player h-100 position-relative">
                {% if user.is_authenticated %}
                <div class="d-flex justify-content-end position-absolute top-0 end-0 p-2">
                    <a href="{% url 'edit_player' player.id %}" class="me-2">
                        <i class="fas fa-pen"></i>
                    </a>
                    <a href="{% url 'delete_player' player.id %}">
                        <i class="fas fa-trash"></i>
                    </a>
                </div>
                {% endif %}
                <a href="{% url 'show_player' player.id %}" class="text-decoration-none text-dark">
                    <div class="card-player-body d-flex flex-column align-items-center text-center">
                        <!-- Imagen del jugador -->
                        <div class="player-image mb-3">
                            {% if player.photo %}
                            <img src="{{ player.photo.url }}" alt="Foto de {{ player.name }}" class="img-fluid rounded-circle" style="width: 100px; height: 100px;">
                            {% else %}
                            <img src="{% static 'profile/img.png' %}" alt="Foto de {{ player.name }}" class="img-fluid rounded-circle" style="width: 100px; height: 100px;">
                            {% endif %}
                        </div>
                        <!-- Información del jugador -->
                        <div class="player-info">
                            <h5 class="card-player-title">{{ player.name }} {{ player.get_first_last_name }}</h5>
                            <p class="card-player-text"><i class="fas fa-map-marker-alt me-2"></i><strong>Posición:</strong> {{ player.position }}</p>
                            <p class="card-player-text"><i class="fas fa-hand-paper me-2"></i><strong>Mano hábil:</strong> {{ player.skillfull_hand }}</p>
                            <p class="card-player-text"><i class="fas fa-trophy me-2"></i><strong>Puntos SNP:</strong> {{ player.snp_score }}</p>
                            {% if player.score == -1 %}
                            <p>Aún no ha disputado ningún partido.</p>
                            {% else %}
                            <div class="performance-score 
                                {% if player.score == -1 %}
                                    no-played
                                {% elif player.score >= 0 and player.score <= 4 %} score-red 
                                {% elif player.score >= 5 and player.score <= 6 %} score-yellow 
                                {% elif player.score >= 7 and player.score <= 8 %} score-light-green 
                                {% elif player.score >= 9 and player.score <= 10 %} score-dark-green 
                                {% endif %}">
                                Rendimiento actual: {{ player.score }}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </a>
            </div>
        </div>
        {% empty %}
        <div class="col-12">
            <p class="text-center">No hay jugadores registrados.</p>
        </div>
        {% endfor %}
    </div>

    
    <!-- Paginación -->
    <div class="mt-3">
        <nav aria-label="Page navigation">
          <ul class="pagination justify-content-center">
            {% if players.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page=1&order_by={{ order_by }}">&laquo;</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="?page={{ players.previous_page_number }}&order_by={{ order_by }}">Previous</a>
            </li>
            {% else %}
            <li class="page-item disabled">
              <span class="page-link">&laquo;</span>
            </li>
            <li class="page-item disabled">
              <span class="page-link">Previous</span>
            </li>
            {% endif %}
      
            <li class="page-item active">
              <span class="page-link">
                Page {{ players.number }} of {{ players.paginator.num_pages }}
              </span>
            </li>
      
            {% if players.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{ players.next_page_number }}&order_by={{ order_by }}">Next</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="?page={{ players.paginator.num_pages }}&order_by={{ order_by }}">&raquo;</a>
            </li>
            {% else %}
            <li class="page-item disabled">
              <span class="page-link">Next</span>
            </li>
            <li class="page-item disabled">
              <span class="page-link">&raquo;</span>
            </li>
            {% endif %}
          </ul>
        </nav>
      </div>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
      <script type="text/javascript">
        $(window).on('load', function() {
            $(".loader").fadeOut("slow");
        });
    
        function showLoading() {
            // Mostrar el loader
            $(".loader").fadeIn("slow");
        }
    
        function confirmAndShowLoading() {
            if (confirm('¿Estás seguro de que deseas actualizar las puntuaciones? \nESTA OPERACIÓN PUEDE LLEVAR TIEMPO')) {
                // Esperar un momento para que el loader se muestre antes de continuar
                showLoading();
                return true; // Permitir que el enlace se siga
            }
            return false; // Cancelar el enlace si no se confirma
        }
    </script>
{% endblock %}
