{% extends 'base.html' %}
{% load static %}

{% block content %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Estadísticas del Jugador</title>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5/4p1Ac4v4P93Z6Y5YZgX6Z9Kn27e9j8JKgWxJ1A"
  crossorigin="anonymous"></script>
  <style>
    .container {
      max-width: 1200px;
      margin: auto;
      padding: 20px;
    }

    .title {
      text-align: center;
      margin-bottom: 40px;
      color: #083C64;
    }

    .card-container {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
    }

    .card {
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      flex: 1 1 calc(50% - 20px);
      padding: 20px;
      min-width: 300px;
    }

    @media (max-width: 768px) {
      .card {
        flex: 1 1 100%;
      }
    }

    .card h2 {
      text-align: center;
      color: #083C64;
      font-size: 1.5em;
    }

    .chart-container {
      position: relative;
      width: 100%;
      max-width: 600px;
      height: 400px;
      margin: auto;
    }

    #myPieChart,
    #myBarChart,
    #myVisitingBarChart,
    #myLineChart {
      width: 100% !important;
      height: 100% !important;
    }

    .message {
      text-align: center;
      font-style: italic;
      color: #777;
    }

    .percentage {
      display: flex;
      justify-content: center;
      font-weight: bold;
      margin-top: 10px;
      color: #083C64;
    }
  </style>
</head>

<body>
  <div class="container">
    <h1 class="title">Estadísticas de jugadores</h1>
    <form method="GET" action="{% url 'player_statistics' %}">
      <label for="player">Selecciona el jugador:</label>
      <select name="player" id="player">
        <option value="">-- Todos los jugadores --</option>
        {% for player in players %}
        <option value="{{ player.id }}" {% if player.id == selected_player %}selected{% endif %}>
          {{ player.name|escape }} <!-- Escapa el nombre del jugador -->
        </option>
        {% endfor %}
      </select>
  
      <label for="season" style="margin-top: 10px;">Selecciona la temporada:</label>
      <select name="season" id="season">
        <option value="">-- Todas las temporadas --</option>
        {% for season in seasons %}
        <option value="{{ season|escape }}" {% if season == selected_season %}selected{% endif %}>
          {{ season|escape }} <!-- Escapa la temporada -->
        </option>
        {% endfor %}
      </select>
  
      <button type="submit" class="button" style="margin-top: 10px; margin-bottom: 10px;">Filtrar</button>
    </form>

    <div class="card-container">
      <div class="card">
        <h2>Partidos Ganados/Perdidos</h2>
        {% if selected_player %}
        {% if total_match == 0 %}
        <p class="message">Aún no se ha cerrado ningún partido</p>
        {% else %}
        <div class="chart-container">
          <canvas id="myPieChart"></canvas>
        </div>
        <div class="percentage">
          Ganados: {{ total_wins }} <br>
          Perdidos: {{ total_lost }}
        </div>
        {% endif %}
        {% else %}
        <p class="message">Por favor, selecciona un jugador para ver las estadísticas.</p>
        {% endif %}
      </div>

      <div class="card">
        <h2>Participación Convocatorias</h2>
        {% if selected_player %}
        <div class="chart-container">
          <canvas id="chartCall"></canvas>
        </div>
        <div class="percentage">
          Participó en: {{ present_call }} convocatorias<br>
          No participó en: {{ no_call }} convocatorias<br>
        </div>
        {% else %}
        <p class="message">Por favor, selecciona un jugador para ver las estadísticas.</p>
        {% endif %}
      </div>

      <div class="card">
        <h2>Partidos Ganados/Perdidos como Local</h2>
        {% if selected_player %}
        <div class="chart-container">
          <canvas id="localWinLost"></canvas>
        </div>
        {% else %}
        <p class="message">Por favor, selecciona un jugador para ver las estadísticas.</p>
        {% endif %}
      </div>

      <div class="card">
        <h2>Partidos Ganados/Perdidos como Visitante</h2>
        {% if selected_player %}
        <div class="chart-container">
          <canvas id="visitingWinLost"></canvas>
        </div>
        {% else %}
        <p class="message">Por favor, selecciona un jugador para ver las estadísticas.</p>
        {% endif %}
      </div>

      <div class="card">
        <h2>Historial de partidos</h2>
        {% if selected_player %}
        <div class="chart-container">
          <canvas id="myLineGamesChart"></canvas>
        </div>
        {% else %}
        <p class="message">Por favor, selecciona un jugador para ver las estadísticas.</p>
        {% endif %}
      </div>
    </div>
  </div>

  <script>
    // Gráfico de pastel para partidos ganados/perdidos
    const pieCtx = document.getElementById('myPieChart').getContext('2d');
    const myPieChart = new Chart(pieCtx, {
      type: 'pie',
      data: {
        labels: ['Ganados', 'Perdidos'],
        datasets: [{
          data: [{{ total_wins|escape }}, {{ total_lost|escape }}], // Escapar datos
          backgroundColor: ['#083C64', '#ff6384'],
        }]
      },
      options: {
        responsive: true,
        maintainAspectRatio: false
      }
    });

    console.log('Present Call:', {{ present_call|escape }});
    console.log('No Call:', {{ no_call|escape }});
  </script>

  <script>
    // Gráfico de pastel para la participación en convocatorias
    const pieCallCtx = document.getElementById('chartCall').getContext('2d');
    const myPieCallCtx = new Chart(pieCallCtx, {
      type: 'pie',
      data: {
        labels: ['Llamado', 'No llamado'],
        datasets: [{
          data: [{{ present_call|escape }}, {{ no_call|escape }}], // Escapar datos
          backgroundColor: ['#083C64', '#ff6384'],
        }]
      },
      options: {
        responsive: true,
        maintainAspectRatio: false
      }
    });
  </script>

  <script>
    const localWinLostCtx = document.getElementById('localWinLost').getContext('2d');
    const mylocalWinLostCtx = new Chart(localWinLostCtx, {
      type: 'bar',
      data: {
        labels: ['Partidos Ganados', 'Partidos Perdidos'],
        datasets: [{
          data: [{{ won_games_local|escape }}, {{ lost_games_local|escape }}], // Escapar datos
          backgroundColor: ['#083C64', '#ff6384'],
        }]
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false // Oculta la leyenda
          }
        },
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
  </script>

  <script>
    const visitingWinLostCtx = document.getElementById('visitingWinLost').getContext('2d');
    const myVisitingWinLostCtx = new Chart(visitingWinLostCtx, {
      type: 'bar',
      data: {
        labels: ['Partidos Ganados', 'Partidos Perdidos'],
        datasets: [{
          data: [{{ won_games_visiting|escape }}, {{ lost_games_visiting|escape }}], // Escapar datos
          backgroundColor: ['#083C64', '#ff6384'],
        }]
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false // Oculta la leyenda
          }
        },
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
  </script>

  <script>
    const lineGamesCtx = document.getElementById('myLineGamesChart').getContext('2d');
    const myLineGamesChart = new Chart(lineGamesCtx, {
      type: 'line',
      data: {
        labels: {{ match_dates|escape }}, // Escapar datos
        datasets: [{
          label: 'Resultados',
          data: {{ match_results|escape }}, // Escapar datos
          fill: false,
          borderColor: '#083C64',
          tension: 0.1
        }]
      },
      options: {
        responsive: true,
        maintainAspectRatio: false
      }
    });
  </script>
</body>
{% endblock %}
