{% extends 'base.html' %}
{% load static %}

{% block content %}
    <script>
      const teamData = {
        wonMatches: {{ won_matches }},
        lostMatches: {{ lost_matches }},
        localGamesWon: {{ local_games_won }},
        localGamesLost: {{ local_games_lost }},
        visitingGamesWon: {{ visiting_games_won }},
        visitingGamesLost: {{ visiting_games_lost }},
        matchesWonPerYear: {{ dicc_line_chart|safe }},
        column_chart_data: {{column_chart_data|safe}}
      };
    </script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <div class="table-container">
      <h1 class="title">Estadísticas {{ team.name }}</h1>
      <form method="GET" action="{% url 'team_statistics' %}">
        <label for="season" style="margin-top: 10px;">Seleccione una temporada:</label>
        <select name="season" id="season">
          <option value="">Todas las temporadas</option>
          {% for season in seasons %}
            <option value="{{ season }}" {% if season == selected_season %}selected{% endif %}>
              {{ season }}
            </option>
          {% endfor %}
        </select>
        <button type="submit" class="button" style="margin-top: 10px; margin-bottom: 10px;">Filtrar</button>
      </form>

      <div class="card-container">
        <div class="card">
          <h2>Partidos Ganados/Perdidos</h2>
          {% if not total_matches %}
            <p class="message">Aún no se ha cerrado ningún partido</p>
          {% else %}
            <div class="chart-container">
              <canvas id="myPieChart"></canvas>
            </div>
            <div class="percentage">
              Ganados: {{ percentage_won }}%
              Perdidos: {{ percentage_lost }}%
            </div>
          {% endif %}
        </div>

        <div class="card">
          <h2>Juegos Ganados/Perdidos Local</h2>
          {% if not total_matches %}
            <p class="message">Aún no se ha cerrado ningún partido</p>
          {% else %}
            <div class="chart-container">
              <canvas id="myBarChart"></canvas>
            </div>
            <div class="percentage">
              Ganados: {{ percentage_local_games_won }}%
              Perdidos: {{ percentage_local_games_lost }}%
            </div>
          {% endif %}
        </div>

        <div class="card">
          <h2>Juegos Ganados/Perdidos Visitante</h2>
          {% if not total_matches %}
            <p class="message">Aún no se ha cerrado ningún partido</p>
          {% else %}
            <div class="chart-container">
              <canvas id="myVisitingBarChart"></canvas>
            </div>
            <div class="percentage">
              Ganados: {{ percentage_visiting_games_won }}%
              Perdidos: {{ percentage_visiting_games_lost }}%
            </div>
          {% endif %}
        </div>

        <div class="card">
          <h2>Número de Partidos Ganados por Año</h2>
          {% if not total_matches %}
            <p class="message">Aún no se ha cerrado ningún partido</p>
          {% else %}
            <div class="chart-container">
              <canvas id="myLineChart"></canvas>
            </div>
          {% endif %}
        </div>
      </div>
      <div class="card">
        <h2>Balance de Partidos</h2>
        <div class="chart-container2">
          <canvas id="myColumnChart"></canvas>
        </div>
      </div>
    </div>
    <script src="{% static 'js/team_statistics.js' %}"></script>
{% endblock %}
